.ibs-profile-icon {
	height: 100%;

	border-radius: 100%;

	& > img {
		color: var(--color-primary);
		background-color: var(--color-bg);
		background-size: cover;

		border-radius: 100%;

		aspect-ratio: 1 / 1;
		object-fit: cover;

		font-size: larger;
		font-weight: bold;

		height: 100%;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
