.tooltip {
	position: absolute;
	background-color: var(--color-primary);
	color: var(--color-text-light);
	border-radius: var(--border-radius);
	padding: var(--container-padding);
	width: var(--tooltip-width);

	border: 0.5px solid var(--color-text-light);
}
