body {
	color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	font-family: var(--font-family);
}

h1 {
	font-size: 1.5rem;
}

h2 {
	font-size: 1.25rem;
}

h3 {
	font-size: 1.125rem;
}

p,
a {
	font-family: var(--font-family-text);
}

a {
	color: var(--color-primary);
	text-decoration: none;
}

a:hover,
button:hover {
	text-decoration: underline;
}

kbd {
	background-color: #eee;
	border-radius: 3px;
	border: 1px solid #b4b4b4;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
	color: #333;
	display: inline-block;
	font-weight: 700;
	line-height: 1;
	padding: 2px 4px;
	white-space: nowrap;
}

code {
	background-color: var(--code-background-color);
	color: var(--code-text-color);
	border-radius: 0.3rem;
	padding: 4px 5px 5px;
	white-space: nowrap;
}

i > svg {
	vertical-align: var(--icon-vertical-align);
	width: var(--icon-size);
	height: var(--icon-size);
}

i.small > svg {
	width: calc(var(--icon-size) * 0.75);
	height: calc(var(--icon-size) * 0.75);
}
