.ibs-theme--feut {
	// Override the default color for text
	color: var(--color-text);

	/* Light */
	@font-face {
		font-family: 'Comic Neue';
		font-style: normal;
		font-weight: 300;
		font-display: swap;
		src: url('/fonts/ComicNeue-Light.ttf') format('truetype');
	}

	@font-face {
		font-family: 'Comic Neue';
		font-style: italic;
		font-weight: 300;
		font-display: swap;
		src: url('/fonts/ComicNeue-LightItalic.ttf') format('truetype');
	}

	/* Regular */
	@font-face {
		font-family: 'Comic Neue';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url('/fonts/ComicNeue-Regular.ttf') format('truetype');
	}

	@font-face {
		font-family: 'Comic Neue';
		font-style: italic;
		font-weight: 400;
		font-display: swap;
		src: url('/fonts/ComicNeue-Italic.ttf') format('truetype');
	}

	/* Bold */
	@font-face {
		font-family: 'Comic Neue';
		font-style: normal;
		font-weight: 700;
		font-display: swap;
		src: url('/fonts/ComicNeue-Bold.ttf') format('truetype');
	}

	@font-face {
		font-family: 'Comic Neue';
		font-style: italic;
		font-weight: 700;
		font-display: swap;
		src: url('/fonts/ComicNeue-BoldItalic.ttf') format('truetype');
	}

	/*
		Font
	*/
	--font-family: 'Comic Neue', 'Comic Sans MS', cursive;
	--font-family-text: 'Comic Neue', 'Comic Sans MS', cursive;
	--icon-vertical-align: -0.25em;
	--icon-size: 20px;

	--stripe-height: 100vh;

	--color-stripe: linear-gradient(65deg, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #8f00ff);

	--color-bg: rgba(0, 255, 0, 0.2);

	--color-navbar: linear-gradient(166deg, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #8f00ff);

	--color-card: rgba(0, 0, 255, 0.2);

	--color-primary: #be0000;
	--color-secondary: #ff7f00;
	--color-tertiary: #ffff00;
	--color-danger: #8f00ff;
	--color-info: #ffff00;
	--color-success: #00ff00;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 700;
	}

	dialog {
		background: linear-gradient(-30deg, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #8f00ff) !important;
	}

	.notification.info {
		color: red;

		h3,
		p {
			color: red;
		}
	}

	.layout--navbar {
		.logo {
			svg {
				path,
				rect {
					fill: #0a0;
				}
			}
		}

		.layout--navbar--item:hover {
			background-color: #0a0;
		}

		.layout--navbar--item:nth-child(3),
		.layout--navbar--item:nth-child(10) {
			color: red;
		}

		.layout--navbar--item:nth-child(4),
		.layout--navbar--item:nth-child(11) {
			color: #ff7f00;
		}

		.layout--navbar--item:nth-child(5),
		.layout--navbar--item:nth-child(12) {
			color: #ffff00;
		}

		.layout--navbar--item:nth-child(6),
		.layout--navbar--item:nth-child(13) {
			color: #00ff00;
		}

		.layout--navbar--item:nth-child(7),
		.layout--navbar--item:nth-child(14) {
			color: #0000ff;
		}

		.layout--navbar--item:nth-child(8),
		.layout--navbar--item:nth-child(15) {
			color: #4b0082;
		}

		.layout--navbar--item:nth-child(9),
		.layout--navbar--item:nth-child(16) {
			color: #8f00ff;
		}
	}
}
