$cell-padding: 0.75rem;

thead {
  display: flex;
  justify-content: space-around;

  th {
    padding: $cell-padding;
    text-align: left;
  }
}

tbody {
  display: grid;
  grid-template-columns: 1fr;

  row {
    display: grid;
    transition: all 0.4s ease;
    color: var(--primary-focus-color);
    
    a {
      color: var(--primary-focus-color);
    }

    td {
      border: none;
    }

    &:nth-child(odd) {
      background-color: var(--primary-focus-color);
      color: white;
      a {
        color: white;
      }
    }

    &:has(.cell:not(.actions):hover) {
      background-color: var(--primary-color);
      color: white;
      text-decoration: underline;

      a {
        color: white;
      }
    }

    .cell {
      padding: $cell-padding;
      word-wrap: break-word;
      position: relative;

      p {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &#invisible {
      opacity: 0;
      cursor: default;
      height: 0px;

      .cell {
        padding: 0 $cell-padding;
        word-wrap: normal;
        text-overflow: clip;
        line-height: 0%;
      }
    }
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

:root.dark {
  row {
    &:nth-child(odd) {
      background-color: var(--primary-color);
    }

    &:nth-child(even) {
      color: white;

      a {
        color: white;
      }
    }

    &:has(.cell:not(.actions):hover) {
      background-color: var(--primary-focus-color) !important;
    }
  }
}