extends ../content.pug

block content
  p.
    Er zijn een aantal gebruikers zonder persoonlijk email adres gevonden. 
    Dit betekent dat ze geen mail ontvangen op hun persoonlijke email adres.

  p.
    Het gaat om de volgende mensen

  ul
    each user in users
      li #{user.name} (#{user.email})
  
  p.
    Persoonlijke email adres kan je in de database instellen onder 'personalEmail'.
    Vervolgens zal dit scriptje de filters aanmaken om 7 uur sochtends.