hr {
	margin: 0.5rem;
	background-color: var(--color-hr);
}

.ibs-card {
	width: auto;
	height: auto;

	background-color: var(--color-card);
	border-radius: var(--border-radius);
	box-shadow: 0 0 0.5rem 0 var(--color-shadow);
	padding: 2rem;
}
