@use './components/button';

.ongeveer-nav {
	display: flex;
	margin-bottom: 1rem;
	gap: 1rem;

	a {
		@extend a, .button;
	}
}

table.ongeveer-table {
	width: fit-content;

	th,
	td {
		text-align: left;
	}
}
