:root {
	--primary-color: #551b8a;
	--secondary-color: #ff007f;
	--tertiary-color: #470ff4;
	--error-color: red;
	--link-color: #551b8a;
	--primary-focus-color: #7e22ce;
	--primary-light-color: #8b5cf6;
	--light-color: #ffffff;
	--light-darkened-color: #cdcdd9;
	--grey-color: #bec4d1;
	--dark-background: #0c1220;
	--light-background: #f4eeff;
	--dark-color: #181f2f;
	--dark-highlight-color: #272d39;

	--border-color: var(--grey-color);
	--button-text-color: var(--light-color);
}

/* Dark mode root */
:root.dark {
	--card-color: var(--dark-color);
	--card-focus-color: var(--dark-highlight-color);
	--text-color: var(--light-color);
	--border-color: var(--grey-color);
	--background-color: var(--dark-background);
	--background-focus-color: var(--dark-color);
	--seperator-color: var(--light-color);
	--link-color: var(--secondary-color);

	/* --shadow-color: rgba(var(--light-color), 0.5); */
	--shadow-color: rgba(255, 255, 255, 0.1);
}

:root.light {
	--card-color: var(--light-color);
	--card-focus-color: var(--light-darkened-color);
	--text-color: var(--dark-color);
	--background-color: var(--light-background);
	--background-focus-color: var(--light-color);
	--seperator-color: var(--grey-color);

	--shadow-color: rgba(0, 0, 0, 0.2);
}

:root.feut {
	--card-color: rgba(255, 255, 255, 0.7);
	--text-color: var(--dark-color);
	--background-focus-color: var(--light-color);
	--seperator-color: var(--dark-color);
}
