@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Varela+Round&display=swap');
/* font-family: 'Archivo Black', sans-serif;
font-family: 'Varela Round', sans-serif; */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Archivo Black', sans-serif !important;
	font-weight: 400 !important;
}

/* Other text */
p,
span,
a,
li,
td,
th,
label,
input,
textarea,
select,
button {
	font-family: 'Varela Round', sans-serif !important;
	font-weight: 400;
}
