@import url('./style/colors.css');
@import url('./style/typography.css');
@import url('./style/layout.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	background-color: var(--background-color);
	color: var(--text-color);
}

/* Select */
select,
input[type='text'],
input[type='number'] {
	background-color: var(--background-focus-color);
	color: var(--text-color);
	border: 1px solid var(--border-color);
	border-radius: 0.25rem;
	padding: 0.5rem;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
	scrollbar-width: auto;
	scrollbar-color: var(--primary-color) var(--background-focus-color);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 15px;
}

*::-webkit-scrollbar-track {
	background: var(--card-color);
}

*::-webkit-scrollbar-thumb {
	background-color: var(--primary-focus-color);
	border-radius: 15px;
	border: 3px solid var(--card-color);
}
