@use './style/variables';
@use './style/layout';
@use './style/components/typography';
@use './style/components/button';
@use './style/components/table';
@use './style/components/form';
@use './style/components/hr';
@use './style/components/card';

html {
	padding: 0;
	margin: 0;
}

html,
body {
	width: 100%;
	height: 100%;
	font-family: var(--font-family-text);
}
